<ion-view title="Recargar prepago" hide-back-button="true" class="RecargaConfirmar">
    <ion-content has-header="true" has-tabs="true">
        <alm-subtitulo-mensaje></alm-subtitulo-mensaje>
        <div class="transferencia-contenido">
            <alm-encabezado></alm-encabezado>
            <div class="transferencia-resumen">
                <div class="list transferencia-resumen-items">
                     <ion-item class="item">
                        <div class="row">
                            <div class="col col-67">
                                <div class="resumen-propiedad">
                                    {{txts.resumen.numeroCelular}}
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="resumen-valor">
                                    {{resumen.form.numCel}}
                                </div>
                            </div>
                        </div>
                    </ion-item>
                    <ion-item class="item">
                        <div class="row">
                            <div class="col col-67">
                                <div class="resumen-propiedad">
                                    {{txts.resumen.cantidadRecarga}}
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="resumen-valor">
                                    {{resumen.form.valor | currency}}
                                </div>
                            </div>
                        </div>
                    </ion-item>
                    
                </div>
            </div>
        </div>
  </ion-content>
  <ion-footer-bar class="bar-light footer-alm">
      <div class="row">
            <div class="col col-50 centrado">
                <alm-boton boton="botonConfirmar" metodo="confirmar('alm.recarga-finalizar')"></alm-boton>
            </div>
            <div class="col col-50 centrado">
                <alm-boton boton="botonCancelar" metodo="cancelar('alm.recarga-realizar')"></alm-boton>
            </div>
        </div>
  </ion-footer-bar>
</ion-view>