<ion-view title="Registro" hide-back-button="true" class="RegistroGenerar">
    <ion-content has-header="true" has-tabs="true">    
    <div class="transferencia-contenido">
        <!--
        <alm-encabezado></alm-encabezado>
        -->
        <alm-mensaje></alm-mensaje>
        <div class="transferencia-formulario">
            <div class="list transferencia-formulario-items">
                <label tabindex="1" class="item item-stacked-label transferencia-formulario-item"> 
                  <span class="badge" 
                        ng-class="{'badge-energized': tipoDocumentoValido == true , 
                                  'badge-calm' : tipoDocumentoValido != true }">1</span> 
                  <span class="input-label formulario-span-radio">{{txts.babySteps.tipoDocumento}}</span>
                  <div class="opciones">
                      <ion-checkbox class="opcion" 
                                    ng-repeat="radio in formularioRadio" 
                                    ng-value="radio.valor" 
                                    ng-model="radio.checked" 
                                    ng-checked="radio.checked" 
                                    ng-click="opcionar('{{ radio.id }}')" 
                                    ng-keydown="actualizarBoton()"> 
                          {{radio.contenido}}
                      </ion-checkbox>  
                  </div>
                </label>
                <label class="item item-input item-stacked-label transferencia-formulario-item">
                   <span class="badge" 
                         ng-class="{'badge-energized': registro.numeroDocumento != null && registro.numeroDocumento != '', 
                                   'badge-calm' : registro.numeroDocumento == null || registro.numeroDocumento == ''}">2</span>
                    <span class="input-label">{{txts.babySteps.numeroDocumento}}</span>
                    <input type="tel" 
                           tabindex="0" 
                           inputmode="numeric" 
                           class="alminputs" 
                           ng-model="registro.numeroDocumento"   
                           ng-maxLength="{{registro.documento.maxLength}}" 
                           maxLength="{{registro.documento.maxLength}}"
                           ng-minLength="{{registro.documento.minLength}}"
                           ng-change="actualizarBoton()"
                           solo-numeros>                    
                  </label>
                <label class="item item-input item-stacked-label transferencia-formulario-item">
                   <span class="badge" 
                         ng-class="{'badge-energized': registro.fechaExpedicion != null && registro.fechaExpedicion != '', 
                                   'badge-calm' : registro.fechaExpedicion == null || registro.fechaExpedicion == ''}">3</span>
                    <span class="input-label">{{txts.babySteps.fechaExpedicion}}</span>
                    <input type="date" 
                           ng-model="registro.fechaExpedicion" 
                           class="alminputs" 
                           ng-change="actualizarBoton()" >
                </label>
                <label class="item item-input item-stacked-label transferencia-formulario-item">
                   <span class="badge" 
                         ng-class="{'badge-energized': registro.fechaNacimiento != null && registro.fechaNacimiento != '', 
                                   'badge-calm' : registro.fechaNacimiento == null || registro.fechaNacimiento == ''}">4</span>
                    <span class="input-label">{{txts.babySteps.fechaNacimiento}}</span>
                    <input type="date" 
                           ng-model="registro.fechaNacimiento" 
                           class="alminputs" 
                           ng-change="actualizarBoton()">
                </label>
                <label class="item item-input item-stacked-label transferencia-formulario-item">
                   <span class="badge" 
                         ng-class="{'badge-energized': registro.numeroClave != null && registro.numeroClave != '', 
                                   'badge-calm' : registro.numeroClave == null || registro.numeroClave == ''}">5</span>
                    <span class="input-label">{{txts.babySteps.clave}}</span>
                    <input type="tel" 
                           tabindex="0" 
                           inputmode="numeric" 
                           class="alminputs clave"
                           ng-model="registro.numeroClave"   
                           ng-maxLength="{{registro.clave.maxLength}}" 
                           maxLength="{{registro.clave.maxLength}}"
                           ng-minLength="{{registro.clave.minLength}}"
                           ng-change="actualizarBoton()"
                           solo-numeros>                    
                </label>
            </div>
        </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-light footer-alm">
    <div class="row">
        <div class="col-50 centrado">
            <alm-boton boton="botonRegistro" metodo="validarCampos()"></alm-boton>
        </div>
        <div class="col-50 centrado" >
            <alm-boton boton="botonCancelar" metodo="cancelar('alm.ingreso-usuario')"></alm-boton>
        </div>
    </div>
  </ion-footer-bar>
</ion-view>