/*
 * Variables Bancolombia
 */

$azul:                            #004771 !default;
$azul-claro:                      #00448c !default;
$fondo:                           #ffffff !default;
$fondo-claro:                     #ffffff !default;//f3f3f3
$gris:                            #cccccc !default;
$gris-claro:                      #e3e3e3 !default;
$gris-oscuro:                     #bcbcbc !default;
$amarillo:                        #ffcc16 !default;
$amarillo-oscuro:                 #d39211 !default;//#d39211
$rojo:                            #ef4e3a !default;
$verde:                           #008000 !default;//#66cc33
$negro-claro:                     #444444 !default;
$negro:                           #000000 !default;

$radio-pequeno:                   0.5em !default;
$color-encabezado:                #004771 !default;
$color-botones-accion:            #00448c !default;
$color-span-login:                #cccccc !default;

$color-encabezado-oscuro:         #001410;
$color-barraTitulos:              #FFCC16;
$color-botones-accion:            #00448C;
$color-fondo:                     #ffffff;//f3f3f3
$color-phone:                     #12E012;

$font-size-base:                 14px;
$font-size-large:                18px;
$font-size-small:                11px;
