<ion-view title="Retirar dinero" hide-back-button="true" class="contenedor-retiros">    
    <ion-content has-header="true" has-subheader="true" has-tabs="true" class="contenido-retiros">
        <div class="item  item-energized subheader-retiros">
            <!--<h1 class="titulo-retiros">Retire dinero en cajeros electrónicos</h1>-->
            <p class="contenido-retiros">
                Genera tu PIN y retira tu dinero en un Bancolombia a la Mano Corresponsal Bancario o en un Cajero Automático Bancolombia. 
            </p>
        </div> 
        <div class="footer-retirar">
            <alm-boton boton="pin" metodo="generarPin()" class="img"></alm-boton>
        </div>
        <div class="item imagenes row">
            <div class="col img"><img src="img/retiros/casa.png"  class="imgBC-casa"></div>
            <div class="col img"><img src="img/retiros/Cajero.png" class="imgBC-cajero"></div>            
        </div>
    </ion-content> 
    <!--
    <ion-footer-bar class="footer-retirar">
        <alm-boton boton="pin" metodo="generarPin()" class="img"></alm-boton>
    </ion-footer-bar>
    -->
</ion-view>