<div class="Mensaje-exito">
   <div class="row">
        <div class="col col-33 imagen">
            <div class="list-card">
                <div class="item item-body">
                    <i class="icon {{mensaje.icono}} {{mensaje.color}}"></i>
                </div>
            </div>
        </div>
        <div class="col col-66 textos">
            <div class="row row-top">
                <span class="titulo">
                    {{mensaje.titulo}}
                </span>
            </div>
            <div class="row row-center">
                <span class="subtitulo">
                    {{mensaje.subtitulo}}
                </span>
            </div>
            <div class="row row-bottom">
               <span class="contenido">{{mensaje.contenido}}</span>
            </div>
        </div>
    </div>
</div>